{% extends 'base.html.twig' %}

{% block title %}Profile {% endblock %}
{% block h1 %} {% endblock %}
{% block body %}
<h1 class="has-text-centered is-size-3 has-text-weight-bold has-text-white">Bienvenue sur Mon carnet cadeau !
		</h1>
{% endblock %}
