{% extends 'base.html.twig' %}

{% block title %}Nouvelle évenement{% endblock %}

{% block body %}
    <h1>Création d'un nouvelle évenement</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_event_index') }}">Vos liste</a>
{% endblock %}
