{% extends 'base.html.twig' %}

{% block title %}Mon carnet cadeau
{% endblock %}

{% block h1 %}Bienvenue sur Mon carnet cadeau !
{% endblock %}
{% block body %}

	<h2>Toute vos listes de cadeaux pour caque évenement.</h2>

	<p>Faite votre prémiere liste en cliquant
		<a href="{{path('app_register')}}">ici</a>
	</p>
	{% if app.user %}

		<a href="{{path('app_logout')}}">déconnexion</a>
	{% endif %}
    <a href="{{path('app_login')}}">connexion</a>
{% endblock %}
