{% extends 'base.html.twig' %}

{% block title %}Mon carnet cadeau
{% endblock %}

{% block body %}
	<h1 class="has-text-centered is-size-3 has-text-weight-bold has-text-white">Bienvenue sur Mon carnet cadeau !
	</h1>

	<h2 class="has-text-centered is-size-5 has-text-weight-bold has-text-white">Toute vos listes de cadeaux pour caque évenement.</h2>

	<p>Créer votre premier évenement en cliquant
		{% if app.user %}
			<a href="{{path('app_event_new')}}">ici</a>
			{% else %}
			<a href="{{path('app_register')}}">ici</a>
				
		{% endif %}

	</p>
{% endblock %}
